[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/hammer.vim"]
	path = bundle/hammer.vim
	url = https://github.com/matthias-guenther/hammer.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "bundle/ini-syntax-definition"]
	path = bundle/ini-syntax-definition
	url = https://github.com/vim-scripts/ini-syntax-definition.git
[submodule "bundle/actionscript.vim"]
	path = bundle/actionscript.vim
	url = https://github.com/vim-scripts/actionscript.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tcomment.vim"]
	path = bundle/tcomment.vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/sudo.vim"]
	path = bundle/sudo.vim
	url = git@github.com:vim-scripts/sudo.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
